* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}
.home {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.adminForm .line {
  border-left: 2px solid #000;
  min-height: 85vh;
  margin-top: 1.5rem;
}

.displayForm form {
  margin: 5vw 10vw;
}
